*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url('./bg.jpg');
    width: 450px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: auto;
}
h1{

font-family: sans-serif;
padding-top: 100px;
padding-bottom: 70px;
}
div{
    margin-bottom: 20px;
}