*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./bg.jpeg');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.container{
   
    text-align: center;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-family: sans-serif;
    margin-bottom: 50px;
}
div{
    margin-bottom: 15px;
}

.container .links  a {
    display: block
}